{% extends "index.html" %}
{% load staticfiles %}
{% block content %}



<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
			  <h3 align="center">Modificar Contrasena</h3>
			</div>
		</div>
	</div>


<div class="row">

			<table class="table">
			    <tbody>
			      <tr>
			        <td>

                    </td>
			        <td>

                    </td>


			        </tr>
                <tr>
			        <td>
                        Nueva Contrasena:
                    </td>
			        <td>
                        <div class="input-group">
		      <input type="text" class="form-control" placeholder="Ingrese contrasena">

		    </div>
                    </td>


			        </tr>
                <tr>
			        <td>
                        Confirmar Contrasena:
                    </td>
			        <td>
                        <div class="input-group">
		      <input type="text" class="form-control" placeholder="Confirmar contrasena">

		    </div>
                    </td>


			        </tr>
                <tr>
			       <td>

                    </td>
			        <td>
                        <span class="input-group-btn">
		        <button class="btn btn-default" type="button">Confirmar</button>
		      </span>
                    </td>


			        </tr>

			    </tbody>
			  </table>
		</div>


{% endblock content %}