{% extends "index.html" %}
{% load staticfiles %}
{% block content %}




<div class="col-md-1">
     </div>

<div class="col-md-10">

			<table class="table">
			    <tbody>
			      <tr>
			        <td>
                        <div class="col-md-16">
                        <a href="#" class="thumbnail">
                        <img src="{% static 'bootstrap/images/lab1.png' %}" >
                        </a>
                        </div>
                    </td>
			        <td>
                        <div class="col-md-16">
                        <a href="#" class="thumbnail">
                    <img src="{% static 'bootstrap/images/lab2.png' %}" >
                    </a>
                    </div>
                    </td>
			        <td>
                        <div class="col-md-16">
                        <a href="#" class="thumbnail">
                    <img src="{% static 'bootstrap/images/lab3.png' %}" >
                    </a>
                    </div>
                    </td>

			        </tr>
                <tr>
			        <td>
                        <div class="col-md-16">
                        <a href="#" class="thumbnail">
                    <img src="{% static 'bootstrap/images/lab4.png' %}" >
                    </a>
                    </div>
                    </td>
			        <td>
                        <div class="col-md-16">
                        <a href="#" class="thumbnail">
                    <img src="{% static 'bootstrap/images/lab5.png' %}" >
                    </a>
                    </div>
                    </td>
			        <td>
                       <div class="col-md-16">
                        <a href="#" class="thumbnail">
                    <img src="{% static 'bootstrap/images/lab6.png' %}" >
                    </a>
                    </div>
                    </td>

			        </tr>
                <tr>
			        <td>
                      <div class="col-md-16">
                        <a href="#" class="thumbnail">
                    <img src="{% static 'bootstrap/images/lab1.png' %}" >
                    </a>
                    </div>
                    </td>
			        <td>
                        <div class="col-md-16">
                        <a href="#" class="thumbnail">
                    <img src="{% static 'bootstrap/images/lab1.png' %}" >
                    </a>
                    </div>
                    </td>
			        <td>
                       <div class="col-md-16">
                        <a href="#" class="thumbnail">
                    <img src="{% static 'bootstrap/images/lab1.png' %}" >
                    </a>
                    </div>
                    </td>

			        </tr>
                <tr>
			        <td>
                        <div class="col-md-16">
                        <a href="#" class="thumbnail">
                    <img src="{% static 'bootstrap/images/lab1.png' %}" >
                    </a>
                    </div>
                    </td>
			        <td>
                       <div class="col-md-16">
                        <a href="#" class="thumbnail">
                    <img src="{% static 'bootstrap/images/lab1.png' %}" >
                    </a>
                    </div>
                    </td>
			        <td>
                       <div class="col-md-16">
                        <a href="#" class="thumbnail">
                    <img src="{% static 'bootstrap/images/lab1.png' %}" >
                    </a>
                    </div>
                    </td>

			        </tr>

			    </tbody>
			  </table>
		</div>


<div class="col-md-1">
     </div>


{% endblock content %}