{% extends "index.html" %}
{% load staticfiles %}
{% block content %}



<body style="text-align: justify;">



    <div class="row">
		<div class="col-md-12"> 
			<div class="jumbotron">
			  <h3 align="center">Registro de apertura de Laboratorios y Oficinas</h3>
			</div>
		</div>
	</div>




	<div class="row">

        <div class="col-md-1">
        </div>
        <div class="col-md-2 text-right	">
			<p>Registros por página: </p>
		</div>
		<div class="col-md-1">
			<div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    10
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    <li>20</li>
			    <li>30</li>
			    <li>40</li>
			  </ul>
			</div>
		</div>

        <div class="col-md-3">
        </div>

		<div class="col-md-3">
			<div class="input-group">
		      <input type="text" class="form-control" placeholder="Ejm: Ronald/Laboratorio...">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button">Buscar</button>
		      </span>
		    </div>

        </div>

	</div>



	<div class="row" align="center">
        <div class="col-md-1">
        </div>
		<div class="col-md-10">
			<table class="table" align="center">
			    <thead>
			      <tr>
			        <th>ID</th>
			        <th>Nombre</th>
			        <th>Apellido</th>
			        <th>Laboratorio/Oficina</th>
			        <th>Fecha y Hora</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>001</td>
			        <td>Luis</td>
			        <td>Tobar</td>
			        <td>Laboratorio 1</td>
			        <td> Jueves, 18 de Diciembre de 2015 </td>
			      </tr>
			    </tbody>
            </table>
		</div>
        <div class="col-md-1">
        </div>
    </div>



	<div class="row" align="center">
		<div class="col-md-12">
			<nav>
			  <ul class="pagination">
			    <li>
			      <a href="#" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
			    <li><a href="#">1</a></li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">5</a></li>
			    <li>
			      <a href="#" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</nav>
		</div>
	</div>
</body>


{% endblock content %}
